<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @board.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @board.body %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
